apiVersion: v1
kind: Secret
metadata:
  name: dd-secrets
  namespace: default
data:
  # https://kubernetes.io/docs/concepts/configuration/secret/#creating-a-secret-manually
  # echo -n "y0ur4P10r4PPk3y" | base64
  dd_api_key: eTB1cjRQMTByNFBQazN5=
  